.new-button {
    margin-top: 25px;
    text-transform: uppercase;
}

.question {
    .question-title {
        border-bottom: 1px solid #b0e57c;
    }
    .question-content {
        display: none;
    }

    h1 {
        padding-bottom: 10px;
    }
    li {
        list-style: none;
        padding-top: 5px;
        margin-bottom: 10px;
    }

}

.question tbody {
  display: block;
  overflow: hidden;
}

.question tr {
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
  display: block;
  word-wrap: break-word;
}

.question .spacer {
    height: 10px;
    border-left: 0;
}
.question .spacer:hover {
    border: 0;
}

.selection,.toggle
{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: auto;
    marign-lift: auto;
    padding: 5px;
    background: white;
    border: solid 2px gray;
}
.toggle
{
    text-align: center;
}
.selection
{
    display: none;
    text-align: left;
}